input[type='number']
	-moz-appearance: textfield

input[type='submit']
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	background-color: transparent

input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none

input[type="password"]
	font: small-caption
	line-height: 1.65

input
	box-shadow: none
	font-family: $o
	color: #000
	font-size: 16px
	+placeholder
		font-family: $o
	&::-ms-clear
		display: none

svg
	display: inline-block
	max-width: 100%
	max-height: 100%

img
	max-width: 100%

button
	background: 0 0

*
	+box
	-webkit-tap-highlight-color: transparent
	+placeholder
		font-family: $o
		font-size: 16px

textarea
	resize: none
	font-family: 'Roboto'
	font-size: 16px
	+placeholder
		font-family: $o
		font-size: 14px

ul
	li > a
		display: inline-block
		width: 100%

html
	font-size: 16px
	line-height: 1
	position: relative
	+box
	width: 100%
	height: auto
	overflow: auto

		
body
	margin: 0
	background-attachment: fixed
	+box
	+font-smoothing
	text-rendering: optimizeLegibility
	font-family: $o
	width: 100%
	min-width: 320px
	height: auto
	min-height: 100%
	-webkit-overflow-scrolling: touch
	overflow-x: hidden
	&.menu-stuck:not(.mobile)
		overflow: hidden !important
	&.menu-mobile
		overflow: hidden !important
		position: fixed

//::-webkit-scrollbar-track
//	background-color: #fff
//
//::-webkit-scrollbar
//	width: 5px
//	background-color: transparent
//
//::-webkit-scrollbar-thumb
//	background-color: $green

.hidden
	display: none !important

.header-logo
	display: flex
	align-items: center
	&__icon
		display: inline-block
		max-width: 135px
		height: 30px
	&__text
		font-size: 21px
		font-weight: bold
		letter-spacing: -0.03em
		margin-left: 12px

.header-wrapper
	height: 100%
	position: relative
	z-index: 0
	padding-top: 60px
	&_full-page
		height: 100vh

.header-inner
	height: 100%
	padding: 110px 0 60px
	position: relative
	z-index: 2
	display: flex
	flex-direction: column
	&_inner-page
		padding: 170px 0 65px
	&_row
		height: auto
		flex-direction: row
		align-items: flex-start
		padding: 60px 0
	&__title
		display: inline-block
		max-width: 750px
		&_offset
			margin-top: auto
			margin-bottom: auto
			margin-left: 150px
			padding-bottom: 20px
		&_col
			width: 50%
			padding: 20px 20px 20px 150px
			box-sizing: content-box
			-webkit-hyphens: manual
			-ms-hyphens: manual
			hyphens: manual
		a
			margin-top: 70px
	&__desc
		color: #ffffff
		&_col
			width: 50%
			padding: 20px 50px 20px 20px
			box-sizing: content-box
	&__text
		color: rgba(#ffffff, .8)
		margin-bottom: 60px
		max-width: 90%
	&_animate
		transform: translateY(40px)
		opacity: 0
		+tr(all .5s ease .8s)
		&.active
			transform: translateY(0)
			opacity: 1
	+r(980)
		&_row
			flex-wrap: wrap
		&__title
			&_col
				width: 100%
		&__desc
			&_col
				width: 100%
				padding: 20px 50px 20px 150px
	+r(768)
		padding: 90px 0 20px
		&__title
			&_offset
				margin-left : 0
			a
				margin-top: 35px
			&_col
				padding-left: 0
		&__desc
			&_col
				padding-left: 0
				padding-right: 0
.promo-reclame
	margin-bottom: 0
	margin-top: auto
	width: 100%
	&__item
		display: inline-block
		margin-right: 35px
	&__body
		display: flex
		align-items: center
	&__icon
		display: inline-block
		width: 75px
		height: 75px
	&__text
		display: inline-block
		margin-left: 20px
		width: 192px
		color: rgba(#ffffff, .8)
	& .slick-track
		width: 100%
	+r(1024)
		&__item
			margin-right: 0
			padding-bottom: 20px
		&__body
			width: 80%
	+r(768)
		width: auto
		margin-right: -500px
		&__item
			margin-bottom: 0px
		&__body
			width: 100%
			padding-right: 15px
	
.basic-services
	background-color: #ffffff
	padding-top: 95px
	// &-wrapper
	// 	display: flex
	// 	justify-content: space-between
	// 	+r(1024)
	// 		flex-wrap: wrap
	&_page
		padding-top: 0
		padding-bottom: 100px
	&-title
		font-size : 32px
		line-height : 1
		margin-bottom: 45px
	&-wrapper
		position: relative
		&.serv_offset
			margin-right: -30vw
		& .slick-track,
		& .slick-list
			display: flex
			align-items: stretch
		& .slick-slide 
			// margin-right: 30px
			display: flex
			align-items: stretch
			height: 100%
			float: none
		+r(768)
			margin-right: -80vw
			&.serv_offset
				margin-right: -80vw
		// &::after
		// 	content: ''
		// 	display: block
		// 	height: 100%
		// 	width: 20vw
		// 	position: absolute
		// 	right: 0
		// 	top: 0

.services-slider
	width: 100%

.server-graph
	text-align: center
	background-color: #ffffff
	background-repeat: no-repeat
	background-position-x: 0
	background-position-y: bottom
	background-size: cover
	animation: graph-move 60s infinite linear
	margin-top: 79px
	padding-bottom: 63px
	position: relative
	&::before
		content: ''
		display: block
		height: 100%
		width: 160px
		//background-color: #ffffff
		background-image: linear-gradient(to left, transparent, #ffffff)
		position: absolute
		top: 0
		left: 0
	&::after
		content: ''
		display: block
		height: 100%
		width: 160px
		//background-color: #ffffff
		background-image: linear-gradient(to right, transparent, #ffffff)
		position: absolute
		top: 0
		right: 0
	&__title
		font-size: 90px
	+r(720)
		&::before,
		&::after
			width: 80px
		&__title
			font-size: 55px

@keyframes graph-move
	0%
		background-position-x: 0
	100%
		background-position-x: 100%

.about-center
	background-image: linear-gradient(0deg, rgb(230,245,255) 23%, rgb(206,223,255) 74%, rgb(173,208,255) 100%)
	padding-top: 90px
	padding-bottom: 100px
	position: relative
	z-index: 1
	font-size: 0
	&__inner
		display: flex
		flex-wrap: wrap
		position: relative
	z-index: 1
	&__title
		width: 50%
		display: flex
		flex-direction: column
		p
			margin-top: auto
			margin-bottom: 0
	&__info
		width: 50%
		+r(980)
			width: 100%
	&__desc
		position: relative
		z-index: 2
	&__characteristic
		width: 50%
		margin-left: auto
		margin-right: 0
		margin-top: 65px
	&__link
		margin-top: 65px
		max-width: 244px
	&__build
		max-width: 560px
		position: absolute
		bottom: -100px
		left: -32px
		z-index: -1
	&__clouds
		position: absolute
		top: 10%
		left: 0
		width: 70%
		z-index: -2
	+r(980)
		padding-top: 55px
		padding-bottom: 0
		&__title
			width: 100%
		&__characteristic
			width: 100%
			margin-top: 48px
		&__build
			position: relative
			bottom: auto
			left: auto
			margin: 0 auto
	+r(768)
		&__link
			margin-top: 20px
			margin-bottom: 40px
			max-width: 244px
.advantages
	background-color: #fff233
	position: relative
	z-index: 1
	padding-top: 95px
	padding-bottom: 100px
	&__title
		line-height: 1.438
		max-width: 1000px
		margin-bottom: 60px
	&__slider
		overflow: hidden
	&__item
		padding-left: 40px
		position: relative
		vertical-align: top
		margin-bottom: 50px
		p
			max-width: 85%
			color: rgba(#000000, .8)
	&__check
		display: block
		width: 25px
		height: 15px
		position: absolute
		top: 5px
		left: 0px
	&__btn-wrap
		// margin-top: 50px
		text-align: center
	&-decor
		position: absolute
		bottom: 0
		right: 0
		height: 100%
		width: 100%
		background-repeat: no-repeat
		background-size: contain
		background-position: 100% 100%
		z-index: -1
	&__slider-dots
		display: none
	+r(1024)
		&-decor
			background-size: cover
			background-position: center 0
	+r(980)
		padding-top: 54px
		padding-bottom: 80px
		&__title
			margin-bottom: 30px
		&__item
			margin-bottom: 20px
			p
				width: 100%
		&__slider-dots
			display: block

.main-news
	padding-top: 55px
	padding-bottom: 90px
	position: relative
	background-color: #ffffff
	&__title
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 63px
	&__wrap
		display: flex
		flex-wrap: wrap
	+r(980)
		padding-top: 55px
		&__title
			margin-bottom: 30px
	+r(620)
		&__more-news
			position: absolute
			bottom: 35px
			left: 16px
			

/*!** data-center page **/
.data-center-slider
	position: relative
	z-index: 1
	&-bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		& .slick-list,
		& .slick-track,
			height: 100%
			width: 100%
		& .slick-slide
			position: relative
			z-index: 20
			& > div
				width: 100%
				height: 100%
	&-text
		padding: 110px 0
	&__slide
		position: relative
		z-index: 1
		& .data-center-slider__slide-wrap
			display: flex
			align-items: center
			height: 100%
	&__nav
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		width: 100%
	&__prev,
	&__next
		position: absolute
		color: #ffffff
		font-size: 0
		z-index: 5
		width: 37px
		height: 65px
		right: 16px
		left: auto
	&__prev
		right: auto
		left: 16px
		transform: rotate(180deg)
	& .custom_dots
		position: absolute
		bottom: 5%
		left: 50%
		transform: translateX(-50%)
	+r(768)
		&__nav
			display: none

.data-center-bg
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-size: cover
	&:before
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			z-index: 1
			left: 0
			top: 0
			background-color: #000000
			opacity: .7
.data-dots
	display: flex
	width: 100%
	align-items: center
	justify-content: center
	+r(768)
		justify-content: flex-start

.sertification-wrap
	display: flex
	align-items: flex-end
	max-width: 714px
	justify-content: space-between
	+r(620)
		flex-wrap: wrap
		.sertification-link
			width: 50%
			margin-bottom: 20px

.sertification-link
	&__img
		display: inline-block
		max-width: 92px
		height: 58.5px
		+vertical
		margin-bottom: 11px
		img
			max-width: 100%
			max-height: 58.5px
			vertical-align: middle

.parameters-table
	display: flex
	align-items: flex-start
	+r(620)
		flex-wrap: wrap

.data-parameters
	width: 50%
	max-width: 370px
	display: flex
	flex-wrap: wrap
	margin-right: 30px
	&:last-child
		margin-right: 0
	&__title
		width: 70%
		border-bottom: 1px solid #cccccc
		padding-bottom: 21px
		padding-right: 50px
		margin-bottom: 17.5px
	&__desc
		width: 30%
		border-bottom: 1px solid #cccccc
		padding-bottom: 21px
		margin-bottom: 17.5px
		font-weight: bold
		color: #000000
	&__check
		display: block
		width: 30px
		height: 20px
	&_no-mw
		max-width: 100%
	+r(620)
		width: 100%
		max-width: 100%
		margin-right: 0
		margin-bottom: 20px
		&__check
			width: 15px
			height: 15px


.data-center-details
	background-color: #fcfcfc
	position: relative
	max-width: 714px
	&:after
		content: ''
		display: block
		background-color: #fcfcfc
		height: 100%
		width: 100%
		position: absolute
		top: 0
		right: 100%
		z-index: -1
	&:before
		content: ''
		display: block
		background-color: #fcfcfc
		height: 100%
		width: 100%
		position: absolute
		top: 0
		left: 100%
		z-index: -1
	padding: 70px 0
	&__list
		margin-top: 25px
	&__item
		padding-left: 40px
		margin-bottom: 32px
		position: relative
		&::after
			content: ''
			display: block
			background-color: #f2db00
			width: 8px
			height: 8px
			border-radius: 50%
			position: absolute
			left: 0
			top: 8px
		&:last-child
			margin-bottom: 0
		span
			display: inline-block
			padding-left: 32px

.data-center-cooperation
	max-width: 714px
	padding: 68px 0 0
	&__promo
		background-repeat: no-repeat
		background-size: cover
		padding: 36px 36px 65px 36px
		display: flex
		justify-content: flex-end
		margin-bottom: 55.5px

.data-center-partner
	display: inline-block
	background-color: #fff233
	padding: 33.5px 29px 33.5px 35px
	position: relative
	z-index: 1
	box-shadow: none
	+tr(all .3s ease)
	&:hover
		box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2)
	&__title
		font-weight: bold
		font-size: 22px
		line-height: 24px
		margin-bottom: 25px
		text-transform: uppercase
	&__text
		max-width: 225px
		font-size: 32px
		margin-bottom: 30px
		line-height: 24px
	&__link
		background-color: #f2db00
		&:hover
			background-color: #ffffff

.data-sertificate
	max-width: 714px
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	margin-bottom: -68px
	& .sertificate-item
		width: 29%
		margin-right: 6%
		margin-bottom: 68px
		&:nth-child(3n)
			margin-right: 0
	+r(620)
		margin-bottom: -68px
		& .sertificate-item
			width: 47%
			margin-bottom: 68px
			&:nth-child(3n)
				margin-right: 6%
			&:nth-child(2n)
				margin-right: 0

.news-wrap
	display: flex
	flex-wrap: wrap
	margin-bottom: -60px
	+r(980)
		margin-bottom: -40px
	+r(620)
		margin-bottom: -30px

.gallery
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: -70px

.gallery-inner
	display: flex
	flex-wrap: wrap
	margin-bottom: -50px
	+r(980)
		margin-bottom: -30px
	+r(440)
		margin-bottom: -15px

.gallery-modal
	background-color: green
	width: 200px
	height: 200px