input[type='number']
	-moz-appearance: textfield

input[type='submit']
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	background-color: transparent

input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none

input[type="password"]
	font: small-caption
	line-height: 1.65

input
	box-shadow: none
	font-family: $o
	color: #000
	font-size: 16px
	+placeholder
		font-family: $o
	&::-ms-clear
		display: none

svg
	display: inline-block
	max-width: 100%
	max-height: 100%

img
	max-width: 100%

button
	background: 0 0

*
	+box
	-webkit-tap-highlight-color: transparent
	+placeholder
		font-family: $o
		font-size: 16px

textarea
	resize: none
	font-family: 'Roboto'
	font-size: 16px
	+placeholder
		font-family: $o
		font-size: 14px

ul
	li > a
		display: inline-block
		width: 100%

html
	font-size: 16px
	line-height: 1
	position: relative
	+box
	width: 100%
	height: auto
	overflow: auto

		
body
	margin: 0
	background-attachment: fixed
	+box
	+font-smoothing
	text-rendering: optimizeLegibility
	font-family: $o
	width: 100%
	min-width: 320px
	height: auto
	min-height: 100%
	-webkit-overflow-scrolling: touch
	overflow-x: hidden
	&.menu-stuck:not(.mobile)
		overflow: hidden !important
	&.menu-mobile
		overflow: hidden !important
		position: fixed

//::-webkit-scrollbar-track
//	background-color: #fff
//
//::-webkit-scrollbar
//	width: 5px
//	background-color: transparent
//
//::-webkit-scrollbar-thumb
//	background-color: $green

.hidden
	display: none !important

.header-logo
	display: flex
	align-items: center
	&__icon
		display: inline-block
		max-width: 8.4375rem
		height: 1.875rem
	&__text
		font-size: 1.3125rem
		font-weight: bold
		letter-spacing: -0.03em
		margin-left: 0.75rem

.header-wrapper
	height: 100%
	position: relative
	z-index: 0
	padding-top: 60px
	&_full-page
		height: 100vh

.header-inner
	height: 100%
	padding: 110px 0 60px
	position: relative
	z-index: 2
	display: flex
	flex-direction: column
	&_inner-page
		padding: 178px 0 65px
	&_row
		flex-direction: row
		margin-top: 13.125rem
	&__title
		display: inline-block
		max-width: 46.875rem
		&_offset
			margin-top: auto
			margin-bottom: auto
			margin-left: 9.375rem
			padding-bottom: 20px
		&_col
			width: 50%
			padding-left: 9.1875rem
		a
			margin-top: 70px
	&__desc
		color: #ffffff
		&_col
			width: 50%
	&__text
		color: rgba(#ffffff, .8)
	&__animate
		transform: translateY(40px)
		opacity: 0
		+tr(all .5s ease .8s)
		&.active
			transform: translateY(0)
			opacity: 1
	+r(768)
		padding: 90px 0 20px
		&__title
			&_offset
				margin-left : 0
			a
				margin-top: 35px

.promo-reclame
	margin-bottom: 0
	margin-top: auto
	width: 100%
	&__item
		display: inline-block
		margin-right: 35px
	&__body
		display: flex
		align-items: center
	&__icon
		display: inline-block
		width: 4.6875rem
		height: 4.6875rem
	&__text
		display: inline-block
		margin-left: 1.25rem
		width: 12rem
		color: rgba(#ffffff, .8)
	& .slick-track
		width: 100%
	+r(1024)
		&__item
			margin-right: 0
			padding-bottom: 20px
		&__body
			width: 80%
	+r(768)
		width: auto
		margin-right: -70vw
		&__item
			margin-bottom: 0px
		&__body
			width: 100%
			padding-right: 15px
	
.basic-services
	background-color: #ffffff
	padding-top: 5.9375rem
	// &-wrapper
	// 	display: flex
	// 	justify-content: space-between
	// 	+r(1024)
	// 		flex-wrap: wrap
	&-title
		font-size : 2rem
		line-height : 1
		margin-bottom: 2.8125rem
	&-wrapper
		margin-right: -70vw

.services-slider
	width: 100%
	
.server-graph
	text-align: center
	background-color: #ffffff
	background-repeat: no-repeat
	background-position-x: 0
	background-position-y: bottom
	background-size: cover
	animation: graph-move 60s infinite linear
	margin-top: 4.94rem
	padding-bottom: 3.94rem
	position: relative
	&::before
		content: ''
		display: block
		height: 100%
		width: 10rem
		//background-color: #ffffff
		background-image: linear-gradient(to left, transparent, #ffffff)
		position: absolute
		top: 0
		left: 0
	&::after
		content: ''
		display: block
		height: 100%
		width: 10rem
		//background-color: #ffffff
		background-image: linear-gradient(to right, transparent, #ffffff)
		position: absolute
		top: 0
		right: 0
	&__title
		font-size: 5.625rem
	+r(720)
		&::before,
		&::after
			width: 5rem
		&__title
			font-size: 3.4375rem

@keyframes graph-move
	0%
		background-position-x: 0
	100%
		background-position-x: 100%

.about-center
	background-image: linear-gradient(0deg, rgb(230,245,255) 23%, rgb(206,223,255) 74%, rgb(173,208,255) 100%)
	padding-top: 5.625rem
	padding-bottom: 6.25rem
	position: relative
	z-index: 1
	font-size: 0
	&__inner
		display: flex
		flex-wrap: wrap
		position: relative
	z-index: 1
	&__title
		width: 50%
		display: flex
		flex-direction: column
		p
			margin-top: auto
			margin-bottom: 0
	&__info
		width: 50%
		+r(980)
			width: 100%
	&__desc
		position: relative
		z-index: 2
	&__characteristic
		width: 50%
		margin-left: auto
		margin-right: 0
		margin-top: 4.0625rem
	&__link
		margin-top: 4.0625rem
		max-width: 244px
	&__build
		max-width: 560px
		position: absolute
		bottom: -6.25rem
		left: -2rem
		z-index: -1
	&__clouds
		position: absolute
		top: 10%
		left: 0
		width: 70%
		z-index: -2
	+r(980)
		padding-top: 3.4375rem
		padding-bottom: 0
		&__title
			width: 100%
		&__characteristic
			width: 100%
			margin-top: 3rem
		&__build
			position: relative
			bottom: auto
			left: auto
			margin: 0 auto
	+r(768)
		&__link
			margin-top: 20px
			margin-bottom: 40px
			max-width: 244px
.advantages
	background-color: #fff233
	position: relative
	z-index: 1
	padding-top: 95px
	padding-bottom: 100px
	&__title
		line-height: 1.438
		max-width: 1000px
		margin-bottom: 60px
	&__slider
		overflow: hidden
	&__item
		padding-left: 50px
		position: relative
		vertical-align: top
		margin-bottom: 50px
		p
			max-width: 85%
			color: rgba(#000000, .8)
	&__check
		display: block
		width: 25px
		height: 15px
		position: absolute
		top: 5px
		left: 10px
	&__btn-wrap
		// margin-top: 50px
		text-align: center
	&-decor
		position: absolute
		bottom: 0
		right: 0
		height: 100%
		width: 100%
		background-repeat: no-repeat
		background-size: contain
		background-position: 100% 100%
		z-index: -1
	&__slider-dots
		display: none
	+r(1024)
		&-decor
			background-size: cover
			background-position: center 0
	+r(980)
		padding-top: 54px
		padding-bottom: 80px
		&__title
			margin-bottom: 30px
		&__item
			margin-bottom: 20px
			p
				width: 100%
		&__slider-dots
			display: block

.main-news
	padding-top: 55px
	padding-bottom: 90px
	position: relative
	background-color: #ffffff
	&__title
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 3.9375rem
	&__wrap
		display: flex
		flex-wrap: wrap
	+r(980)
		padding-top: 3.4375rem
		&__title
			margin-bottom: 1.875rem
	+r(620)
		&__more-news
			position: absolute
			bottom: 35px
			left: 16px
			

/*!** data-center page **/
.data-center-slider
	position: relative
	z-index: 1
	&__slide
		height: 620px
		background-repeat: no-repeat
		background-size: cover
		position: relative
		z-index: 1
		&:before
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			z-index: -1
			left: 0
			top: 0
			background-color: #000000
			opacity: .7

.slick-prev,
.slick-next
	position: absolute
	top: 50%
	right: 5%
	transform: translateY(-50%)
	background-repeat: no-repeat
	color: #ffffff
	z-index: 5

.slick-prev
	right: auto
	left: 5% 

.slick-dots
	position: absolute
	bottom: 5%
	left: 50%
	transform: translateX(-50%)

.content-wrap
	display: flex
	+r(768)
		flex-direction: column

.side-bar
	width: 25%
	&__nav
		padding-bottom: 40px
	+r(768)
		width: 100%

.content-inner
	width: 75%
	&__title
		line-height: 1.406
	+r(768)
		width: 100%
		&__title
			font-size: 1.3125rem
			line-height: 1.43

.content-inner-item
	border-top: 1px solid #cccccc
	padding-top: 4.375rem
	padding-bottom: 3.75rem
	position: relative
	&__title
		margin-bottom: 3.875rem
	&__decor
		position: absolute
		top: 4.375rem
		right: 0
		width: 80px
		height: 90px


.sertification-wrap
	display: flex
	align-items: flex-end
	max-width: 44.625rem
	justify-content: space-between

.sertification-link
	&__img
		display: inline-block
		max-width: 5.75rem
		height: 3.65625rem
		+vertical
		margin-bottom: 11px
		img
			max-width: 100%
			max-height: 3.65625rem
			vertical-align: middle

.parameters-table
	display: flex
	align-items: flex-start

.data-parameters
	width: 50%
	max-width: 23.125rem
	display: flex
	flex-wrap: wrap
	margin-right: 2rem
	&:last-child
		margin-right: 0
	&__title
		width: 70%
		border-bottom: 1px solid #cccccc
		padding-bottom: 1.3125rem
		padding-right: 50px
		margin-bottom: 1.09375rem
	&__desc
		width: 30%
		border-bottom: 1px solid #cccccc
		padding-bottom: 1.3125rem
		margin-bottom: 1.09375rem
		font-weight: bold
		color: #000000
	&__check
		display: block
		width: 30px
		height: 20px

.data-center-details
	background-color: #fcfcfc
	position: relative
	max-width: 44.625rem
	&:after
		content: ''
		display: block
		background-color: #fcfcfc
		height: 100%
		width: 100%
		position: absolute
		top: 0
		right: 100%
		z-index: -1
	&:before
		content: ''
		display: block
		background-color: #fcfcfc
		height: 100%
		width: 100%
		position: absolute
		top: 0
		left: 100%
		z-index: -1
	padding: 4.375rem 0
	&__list
		margin-top: 1.5625rem
	&__item
		padding-left: 2.5rem
		margin-bottom: 2rem
		position: relative
		&::after
			content: ''
			display: block
			background-color: #f2db00
			width: .5rem
			height: .5rem
			border-radius: 50%
			position: absolute
			left: 0
			top: .5rem
		&:last-child
			margin-bottom: 0
		span
			display: inline-block
			padding-left: 2rem

.data-center-cooperation
	max-width: 44.625rem
	padding: 4.25rem 0 6.875rem
	&__promo
		background-repeat: no-repeat
		background-size: cover
		padding: 2.25rem 2.25rem 4.0625rem 2.25rem
		display: flex
		justify-content: flex-end
		margin-bottom: 3.46875rem

.data-center-partner
	display: inline-block
	background-color: #fff233
	padding: 2.09375rem 1.8125rem 2.09375rem 2.1875rem
	position: relative
	z-index: 1
	box-shadow: none
	+tr(all .3s ease)
	&:hover
		box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2)
	&__title
		font-weight: bold
		font-size: 1.375rem
		line-height: 1.5rem
		margin-bottom: 1.5625rem
		text-transform: uppercase
	&__text
		max-width: 14.0625rem
		font-size: 1rem
		margin-bottom: 2.5rem
		line-height: 1.5rem
	&__link
		background-color: #f2db00
		&:hover
			background-color: #ffffff

.comandos-group
	border-bottom: 1px solid #cccccc
	margin-bottom: 4.6875rem
	&:last-child
		border: none
	&__wrap
		display: flex
		flex-wrap: wrap
		margin-top: 4.0625rem
	&__title
		line-height: 1
	+r(650)
		&__wrap
			justify-content: space-between