input[type='number']
	-moz-appearance: textfield

input[type='submit']
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	background-color: transparent

input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none

input[type="password"]
	font: small-caption
	line-height: 1.65

input
	box-shadow: none
	outline: none
	font-family: $o
	color: #000
	font-size: 16px
	+placeholder
		font-family: $o
	-webkit-appearance: none
	&::-ms-clear
		display: none

svg
	display: inline-block
	max-width: 100%
	max-height: 100%
	pointer-events: none

img
	max-width: 100%

button
	background: 0 0

*
	+box
	-webkit-tap-highlight-color: transparent
	+placeholder
		font-family: $o
		font-size: 16px

textarea
	resize: none
	font-family: 'Roboto'
	font-size: 16px
	+placeholder
		font-family: $o
		font-size: 14px

ul
	li > a
		display: inline-block
		width: 100%

html
	font-size: 16px
	line-height: 1
	position: relative
	+box
	width: 100%
	height: auto
	overflow: auto

		
body
	margin: 0
	background-attachment: fixed
	+box
	+font-smoothing
	text-rendering: optimizeLegibility
	font-family: $o
	width: 100%
	min-width: 320px
	min-width: calc(320px - 32px)
	height: auto
	min-height: 100%
	-webkit-overflow-scrolling: touch
	overflow-x: hidden
	overflow-y: auto
	&.menu-stuck:not(.mobile)
		overflow: hidden !important
	&.menu-mobile
		// overflow: hidden !important
		position: fixed

.hidden
	display: none !important

.header-logo
	display: inline-flex
	align-items: center
	&__icon
		display: inline-block
		max-width: 135px
		height: 30px
	&__text
		font-size: 21px
		font-weight: bold
		letter-spacing: -0.03em
		margin-left: 12px

.header-wrapper
	height: 100%
	position: relative
	z-index: 0
	padding-top: 60px
	&_full-page
		background-image: none
		height: 100vh
		+r(768)
			height: auto
			min-height: 500px

.header-inner
	height: 100%
	padding: 110px 0 60px
	position: relative
	z-index: 2
	display: flex
	flex-direction: column
	&_inner-page
		padding: 170px 0 60px
	&_row
		height: auto
		flex-direction: row
		align-items: flex-start
		padding: 60px 0
	&__title
		display: inline-block
		max-width: 750px
		-webkit-hyphens: manual
		-ms-hyphens: manual
		hyphens: manual
		&_offset
			margin-top: auto
			margin-bottom: auto
			margin-left: 150px
			padding-bottom: 20px
		&_col
			////width: 50%
			//padding: 20px 40px 20px 150px
			width: 35%
			padding: 0 40px 20px 90px
			box-sizing: content-box
		a
			margin-top: 70px
	&__desc
		color: #ffffff
		&_col
			//width: 50%
			//padding: 20px 50px 20px 20px
			width: 65%
			box-sizing: content-box
	&__text
		color: rgba(#ffffff, .8)
		margin-bottom: 30px
		max-width: 90%
	+r(1024)
		&__title
			&_offset
				margin-left : 0
	+r(980)
		&_row
			flex-wrap: wrap
		&__title
			&_col
				width: 100%
		&__desc
			&_col
				width: 100%
				//padding: 20px 50px 20px 150px
				padding: 20px 50px 20px 90px
	+r(768)
		padding: 130px 0 10px
		&__title
			a
				margin-top: 20px
			&_col
				padding-left: 0
				padding-right: 0
			&_offset
				margin-bottom: 50px
		&__desc
			&_col
				padding-left: 0
				padding-right: 0
		&_row
			padding: 40px 0
		&_inner-page
			padding: 130px 0 40px
.promo-reclame
	margin-bottom: 0
	margin-top: auto
	width: 100%
	transform: translateY(50px)
	opacity: 0
	+tr(all .5s ease-in-out 1s)
	&.active
		transform: translateY(0)
		opacity: 1
	&__item
		display: inline-block
		margin-right: 35px
	&__body
		display: flex
		align-items: center
	&__icon
		display: inline-block
		width: 75px
		height: 75px
	&__text
		display: inline-block
		margin-left: 20px
		width: 192px
		color: rgba(#ffffff, .8)
	& .slick-track
		width: 100%
	+r(1024)
		&__item
			margin-right: 0
			padding-bottom: 20px
		&__body
			width: 80%
	+r(768)
		width: auto
		&__item
			margin-bottom: 0
			padding-bottom: 0
		&__body
			width: 100%
			padding-right: 15px
	
.basic-services
	position: relative
	background-color: #ffffff
	padding-top: 95px
	&_page
		padding-top: 10px
		margin-bottom: 100px
	&-title
		font-size: 32px
		line-height: 1
		margin-bottom: 45px
		margin-top: 0
	&-slider
		position: relative
	&-outer
		margin-right: -30px
		+r(1400)
			padding: 0 50px 0 50px
		+r(500)
			padding: 0
	&-wrapper
		width: 100%
		display: flex
		flex-flow: row wrap
		.slick-track
			display: flex
			align-items: stretch
			height: 100%
			.service-card
				float: none
				height: 100%
		// & .slick-list
		// 	display: flex
		// 	align-items: stretch
	&__nav
		width: 100%
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		max-width: 1256px
		margin: 0 auto
		+r(500)
			display: none
	&__prev,
	&__next
		position: absolute
		color: #000000
		font-size: 0
		z-index: 5
		width: 20px
		height: 40px
		right: -50px
		left: auto
		top: 50%
		+tr(all .3s ease)
		transform: translateY(-50%)
		+r(1400)
			right: 20px
	&__prev
		right: auto
		left: -50px
		transform: rotate(180deg) translateY(50%)
		+r(1400)
			right: auto
			left: 20px
	&__prev.slick-disabled,
	&__next.slick-disabled
		opacity: .3
	&__dots
		position: absolute
		left: 0
		bottom: -50px
	&-list
		display: flex
		justify-content: space-between
		align-items: stretch
		flex-wrap: wrap
		.service-card
			width: 32%
			margin: 0
			margin-bottom: 20px
			+r(980)
				width: 48%
			+r(650)
				width: 100%
.services-slider
	width: 100%

.server-graph
	text-align: center
	background-color: #ffffff
	background-repeat: no-repeat
	background-position-x: 0
	background-position-y: bottom
	background-size: cover
	animation: graph-move 60s infinite linear
	margin-top: 79px
	padding-bottom: 63px
	position: relative
	&::before
		content: ''
		display: block
		height: 100%
		width: 160px
		//background-color: #ffffff
		background: -webkit-linear-gradient(90deg, white, rgba(255,255,255, 0))
		background-image: linear-gradient(90deg, white,  rgba(255,255,255, 0))
		position: absolute
		top: 0
		left: 0
	&::after
		content: ''
		display: block
		height: 100%
		width: 160px
		background: -webkit-linear-gradient(90deg,  rgba(255,255,255, 0), white)
		background-image: linear-gradient(90deg,  rgba(255,255,255, 0), white)
		position: absolute
		top: 0
		right: 0
	&__title
		font-size: 90px
	+r(720)
		&::before,
		&::after
			width: 80px
		&__title
			font-size: 55px

@keyframes graph-move
	0%
		background-position-x: 0
	100%
		background-position-x: 100%

.about-center
	background-color: rgb(230,245,255)
	background-image: linear-gradient(0deg, rgb(230,245,255) 23%, rgb(206,223,255) 74%, rgb(173,208,255) 100%)
	padding-top: 90px
	padding-bottom: 100px
	position: relative
	z-index: 1
	font-size: 0
	&__inner
		display: flex
		flex-wrap: wrap
		position: relative
	z-index: 1
	&__title
		width: 50%
		display: flex
		flex-direction: column
		padding-right: 20px
		h2
			margin-bottom: 20px
			margin-top: 0
		p
			margin-top: auto
			margin-bottom: 0
	&__info
		width: 50%
		+r(950)
			width: 100%
	&__desc
		position: relative
		z-index: 2
	&__characteristic
		width: 50%
		margin-left: auto
		margin-right: 0
		margin-top: 65px
		.datacenter-characteristics
			&__value
				color: #000000
			&__desc
				color: #767a7d
				
	&__link
		margin-top: 65px
		max-width: 244px
	&__build
		width: 47%
		position: absolute
		bottom: -100px
		left: -32px
		z-index: -1
		+r(950)
			width: 70%
		+r(768)
			width: 90%
	&__clouds
		position: absolute
		top: 10%
		left: 0
		width: 70%
		z-index: -2
	+r(950)
		padding-top: 55px
		padding-bottom: 0
		&__title
			width: 100%
		&__characteristic
			width: 100%
			margin-top: 48px
		&__build
			position: relative
			bottom: auto
			left: auto
			margin: 0 auto
	+r(768)
		&__link
			margin-top: 20px
			margin-bottom: 40px
			max-width: 244px
.advantages
	//background-color: #fff233
	background-color: #ffffff
	position: relative
	z-index: 1
	padding-top: 95px
	padding-bottom: 100px
	&__title
		line-height: 1.438
		max-width: 1000px
		margin-bottom: 60px
		margin-top: 0
	&__slider
		overflow: hidden
	&__item
		padding-left: 40px
		position: relative
		vertical-align: top
		margin-bottom: 50px
		p
			max-width: 85%
			color: rgba(#000000, .8)
	&__check
		display: block
		width: 25px
		height: 15px
		position: absolute
		top: 5px
		left: 0px
	&__btn-wrap
		// margin-top: 50px
		text-align: center
	&-decor
		position: absolute
		bottom: 0
		right: 0
		height: 100%
		width: 100%
		background-repeat: no-repeat
		background-size: cover
		background-position: 0% 0%
		z-index: -1
	&__slider-dots
		display: none
	+r(1024)
		&-decor
			background-size: cover
			background-position: center 0
	+r(980)
		padding-top: 54px
		padding-bottom: 80px
		&__title
			margin-bottom: 30px
		&__item
			margin-bottom: 20px
			p
				width: 100%
		&__slider-dots
			display: block

.main-news
	padding-top: 55px
	padding-bottom: 90px
	position: relative
	background-color: #ffffff
	box-sizing: border-box
	&__more-news
		+rm(620)
			position: absolute
			right: 16px
			top: 13px
	&__title
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 63px
		h2
			margin-top: 0
			margin-bottom: 0
	&__wrap
		font-size: 0
		display: flex
		flex-wrap: wrap
	&_bt
		border-top: 1px solid #cccccc
	+r(980)
		&__title
			margin-bottom: 30px
	+r(620)
		&__title
			display: block
			position: static
.news-filter
	margin-bottom: 50px
	.select-check
		margin-right: 0
		margin-left: auto
		+r(768)
			margin-right: auto
			margin-left: 0
.news-wrap
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: -60px
	+r(980)
		margin-bottom: -40px
	+r(620)
		margin-bottom: -30px

/*!** data-center page **/
.data-center-slider
	position: relative
	z-index: 1
	&-bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		& .slick-list,
		& .slick-track
			height: 100%
			width: 100%
		& .slick-slide
			position: relative
			z-index: 20
			& > div
				width: 100%
				height: 100%
		&:before
			content: ''
			display: block
			width: 100%
			height: 100%
			position: absolute
			z-index: 1
			left: 0
			top: 0
			background-color: #000000
			opacity: .7
	&-text
		padding: 110px 0 50px
	&__slide
		position: relative
		z-index: 1
		& .data-center-slider__slide-wrap
			display: flex
			align-items: center
			height: 100%
	&__nav
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		width: 100%
	&__prev,
	&__next
		position: absolute
		color: #ffffff
		font-size: 0
		z-index: 5
		width: 37px
		height: 65px
		right: 16px
		left: auto
		top: 50%
		transform: translateY(-50%)
	&__prev
		right: auto
		left: 16px
		transform: rotate(180deg) translateY(50%)
	&__prev.slick-disabled,
	&__next.slick-disabled
		opacity: .4
	&__dots
		display: block
		width: 100%
		text-align: center
		position: absolute
		bottom: 5%
		left: 50%
		transform: translateX(-50%)
		li
			display: inline-block
			font-size: 14px
			background-color: transparent
			color: rgba(#ffffff, .7)
			border: 1px solid #cccccc
			padding: 9px 15px
			margin-right: -1px
			+tr(all .4s ease)
			&.slick-active
				background-color: #ffed00
				border-color: #ffed00
				color: #000000
				& + li
					border-left-color: #ffed00
			&:hover
				cursor: pointer
			+r(520)
				padding: 9px
				font-size: 11px
			+r(350)
				padding: 7px 5px
	+r(768)
		&__nav
			display: none

.data-center-bg
	width: 100%
	height: 100%
	position: relative
	background-repeat: no-repeat
	background-size: cover
.data-dots
	display: flex
	width: 100%
	align-items: center
	justify-content: center
	+r(768)
		justify-content: flex-start

.sertification-wrap
	display: flex
	align-items: flex-end
	max-width: 714px
	justify-content: space-between
	+r(620)
		flex-wrap: wrap
		.sertification-link
			width: 50%
			margin-bottom: 20px

.sertification-link
	&__img
		display: inline-block
		max-width: 92px
		height: 58.5px
		+vertical
		margin-bottom: 11px
		img
			max-width: 100%
			max-height: 58.5px
			vertical-align: middle


.parameters-table
	display: flex
	align-items: flex-start
	+r(620)
		flex-wrap: wrap
	&-wrap
		position: relative
	&-decor
		position: absolute
		top: -47px
		right: 12px
		width: 80px
		height: 90px
		color: #f2db00
		+r(1100)
			top: -30px
			width: 70px
			height: 80px

.data-parameters
	width: 50%
	max-width: 370px
	display: flex
	flex-wrap: wrap
	margin-right: 30px
	&:last-child
		margin-right: 0
	&__title
		width: 70%
		border-bottom: 1px solid #cccccc
		padding-bottom: 10px
		padding-right: 50px
		margin-bottom: 17.5px
		&:nth-last-child(2)
			border: none
			padding-bottom: 0
			margin-bottom: 0
	&__desc
		width: 30%
		border-bottom: 1px solid #cccccc
		padding-bottom: 21px
		margin-bottom: 17.5px
		font-weight: bold
		color: #000000
		&:last-child
			border: none
			border: none
			padding-bottom: 0
			margin-bottom: 0
		
	&__check
		display: block
		width: 20px
		height: 20px
		padding: 4px
		margin-left: 10px
	&_no-mw
		max-width: 100%
	+r(620)
		width: 100%
		max-width: 100%
		margin-right: 0
		margin-bottom: 20px
		&__check
			width: 15px
			height: 15px

.bg-gray
	background-color: #fcfcfc
	position: relative
	&:after
		content: ''
		display: block
		background-color: #fcfcfc
		height: 100%
		width: 100%
		position: absolute
		top: 0
		right: 100%
		z-index: -1
	&:before
		content: ''
		display: block
		background-color: #fcfcfc
		height: 100%
		width: 100%
		position: absolute
		top: 0
		left: 100%
		z-index: -1

.data-center-details,
.services-inner-details
	position: relative
	max-width: 714px
	padding: 45px 0 45px 0
	&__list
		margin-top: 25px
		margin-bottom: 25px
	&__item
		padding-left: 40px
		margin-bottom: 32px
		position: relative
		&::after
			content: ''
			display: block
			background-color: #f2db00
			width: 8px
			height: 8px
			border-radius: 50%
			position: absolute
			left: 0
			top: 8px
		&:last-child
			margin-bottom: 0
		span
			display: inline-block
			padding-left: 32px

.data-center-cooperation
	max-width: 714px
	//padding: 68px 0 0 change
	margin: 68px 0 0
	+r(440)
		//padding: 50px 0 0 change
		margin: 50px 0 0
	&__promo
		background-repeat: no-repeat
		background-size: cover
		padding: 36px 36px 65px 36px
		display: flex
		justify-content: flex-end
		margin-bottom: 55.5px
		+r(440)
			justify-content: center
			padding: 20px
			margin-bottom: 30px
		&:hover
			.data-center-partner
				box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2)

.data-center-partner
	display: inline-block
	background-color: #fff233
	padding: 33.5px 29px 33.5px 35px
	position: relative
	max-width: 290px
	z-index: 1
	box-shadow: none
	+tr(all .3s ease)
	+r(440)
		padding: 20px 20px 20px 25px
	& &__title
		font-weight: bold
		font-size: 22px
		line-height: 1.09
		margin-bottom: 25px
		text-transform: uppercase
		color: #000000
	& &__text
		max-width: 225px
		font-size: 16px
		margin-bottom: 30px
		line-height: 1.5
		color: #000000
	&__link
		background-color: #fff233
		border: 1px solid #000000
		&:hover
			background-color: #edcd1c

.data-sertificate
	max-width: 714px
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	margin-bottom: -68px
	& .sertificate-item
		width: 29%
		margin-right: 6%
		margin-bottom: 68px
		&:nth-child(3n)
			margin-right: 0
	+r(620)
		margin-bottom: -68px
		& .sertificate-item
			width: 47%
			margin-bottom: 68px
			&:nth-child(3n)
				margin-right: 6%
			&:nth-child(2n)
				margin-right: 0

.gallery
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: -70px

.gallery-inner
	margin-bottom: -50px
	.h2, h2
		margin-top: 0
		margin-bottom: 14px
	.gallery
		margin-top: 50px
		margin-bottom: 0
		justify-content: flex-start
	+r(980)
		margin-bottom: -30px
	+r(440)
		margin-bottom: -15px

.gallery-modal
	background-color: green
	width: 200px
	height: 200px

.site-map
	display: flex
	flex-wrap: wrap
	.site-map-wrap
		width: 29%
		max-width: 250px
		margin-right: 6%
		&:nth-child(3n)
			margin-right: 0
		+r(620)
			width: 100%
			max-width: 450px
			margin: 0 auto
			margin-bottom: 15px
			&:nth-child(3n)
				margin-right: auto
	.site-map-list
		margin-top: 10px
	.page-link
		display: block
		font-size: 18px
		font-weight: bold
		line-height: 1.5
		padding: 0
		padding-bottom: 20px
		color: #000000
		border-bottom: 1px solid #cccccc
		+tr(color .1s ease-in-out)
		&:hover
			+notouch
				color: #ecdc00
		&:not(:first-child)
			margin-top: 40px
			+r(768)
				margin-top: 20px
				padding-bottom: 15px
		+r(620)
			&:last-child
				border: none
	.sub-page-link
		padding: 5px 0
		margin-bottom: 10px
		+tr(color .1s ease-in-out)
		&:hover
			+notouch
				color: #000000


.search-wrap
	&__head
		border-bottom: 1px solid #cccccc
		padding-bottom: 40px
		margin-bottom: 50px
		.h2
			margin: 0
	+r(768)
		&__head
			padding-bottom: 20px
			margin-bottom: 30px
.search-result
	display: block
	margin-bottom: 40px
	&-head
		margin-bottom: 5px
		display: flex
		align-items: flex-start
	&__count
		display: inline-block
		font-weight: bold
		font-size: 18px
		line-height: 1.889
		margin-right: 10px
	&__title
		display: inline-block
		font-size: 18px
		line-height: 1.889
		color: #000000
	& b
		color: #000000
		font-weight: bold
	+r(768)
		margin-bottom: 20px
		&__title, &__count
			font-size: 16px
			line-height: 1.5
		&__description
			font-size: 14px
			text-overflow: ellipsis

.error-404
	&__title
		margin-top: 0
		margin-bottom: 45px
	&__desc
		margin-bottom: 100px
		a
			color: #000000
			+tr(color .1s ease-in-out)
	+r(560)
		&__title
			margin-bottom: 25px
		&__desc
			margin-bottom: 50px


.feedback
	display: flex
	align-items: flex-start
	justify-content: space-between
	&-blank
		width: 20%
		img
			margin: 0
	blockquote
		width: 75%
	+r(768)
		flex-direction: column
		&-blank
			width: auto
			max-width: 50%
			margin-bottom: 38px
		blockquote
			width: 100%
	+r(768)
		&-blank
				width: auto
				max-width: 90%
.projects-head
	&__title
		padding-bottom: 75px
		margin-bottom: 60px
		border-bottom: 1px solid #cccccc
		max-width: 714px
		+r(980)
			padding-bottom: 40px
			margin-bottom: 40px
.projects-body
	margin-bottom: -50px
.projects-wpapper
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.projects-filters
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 40px
	+r(620)
		flex-wrap: wrap
		margin-bottom: 25px
	&__form
		display: flex
		+r(620)
			width: 100%
			margin-top: 20px
	&__title
		font-size: 20px
	.select-check
		position: relative
		&:not(:first-child)
			margin-left: 16px
		+r(480)
			width: 48%
			margin-bottom: 16px
			&:last-child
				margin-right: 0

.dropdown-target
	position: absolute
	right: 0
	top: 100%
	opacity: 0
	visibility: hidden
	background-color: #ffffff
	transition: opacity .3s,visibility .3s

.select-check
	display: block
	vertical-align: top
	width: 165px
	position: relative
	&.disabled
		opacity: .5
		pointer-events: none
	&.error
		.selects
			border-color: #f2db00
	// прокрутка
	+notouch
		div::-webkit-scrollbar
			width: 9px
			background-color: #ebebeb
		div::-webkit-scrollbar-thumb
			box-shadow: inset 0 0 35px 35px #f2db00
	.dropdown-inner
		box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2)
		border: 1px solid #cccccc
		margin-top: -1px
	.dropdown-target
		left: 0
		z-index: 3
	.dropdown-content
		overflow-y: auto
		max-height: 250px
	.select-carret
		display: block
		width: 8px
		height: 4px
		position: absolute
		right: 20px
		top: 23px
		z-index: 1
		+tr(all .5s ease)
		svg
			position: absolute
			top: 0
			left: 0

.selects
	width: 100%
	display: inline-block
	position: relative
	+tr(all .3s)
	padding: 15px
	text-align: left
	background-color: #ffffff
	border-width: 1px
	border-color: #cccccc
	border-style: solid
	font-size: 14px
	height: 50px
	color: #737373
	&:active
		color: #737373
	.btn-text
		margin-top: 2px
		display: block
		font-size: 14px
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
		width: 100%
		padding-right: 25px
		&.active
			color: #737373
.option
	display: block
	width: 100%
	cursor: pointer
	position: relative
	padding: 15px 10px 15px 20px
	font-size: 14px
	color: #737373
	line-height: 1.429
	background-color: #ffffff
	margin-bottom: 0 !important
	white-space: normal !important
	+tr(background-color .3s)
	&:hover
		+notouch
			background-color: #f5f7f8
			span
				color: #000000
	span 
		+tr(all .3s)
	input
		position: absolute
		opacity: 0
		&:checked + span
			color: #000000
			font-weight: bold

.js-select-custom.active
	.selects
		border-color: #cccccc
		box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2)
	.dropdown-target
		opacity: 1
		visibility: visible
	.select-carret
		transform: rotate(-180deg)

.services-inner-page
	position: relative
	.content-wrap
		padding-bottom: 70px
		+r(768)
			padding-bottom: 40px
	.content-wrap
		.bg-gray
			margin-bottom: 0
	.services-inner-details
		&__item
			&:last-child
				margin-bottom: 32px
		+r(768)
			padding: 40px 0
	.services-inner-view-all
		font-size: 16px
		line-height: 1.5
		display: inline-block
		position: relative
		padding-right: 15px
		padding-left: 35px
		margin-top: 15px
		.link-view-all
			color: #000000
			font-weight: bold
		.link-view-carret
			display: block
			position: absolute
			width: 10px
			height: 5px
			right: 0
			top: 50%
			transform: translateY(-50%)
			+tr(all .3s ease)
			svg
				position: absolute
				top: 0
				left: 0
		&.visible
			.link-view-carret
				transform: translateY(-50%) rotate(180deg)
	.bg-gray
		margin-top: 60px
		+r(768)
			margin-top: 30px
	hr
		display: block
		width: 100%
		height: 1px
		background-color: #cccccc
		border: none
		margin-bottom: 70px
		+r(768)
			margin-bottom: 40px
	&__decoration
		position: absolute
		top: 0
		left: calc(25% + 714px)
		display: block
		width: 96px
		height: 115px
		color: #f2db00
		+r(1200)
			left: auto
			right: 0
		+r(768)
			display: none
	.content-inner__title
		margin-top: 0
		margin-bottom: 0
		margin-right: 120px
		+r(768)
			margin-right: 0
.services-config
	width: 100%
	.h3
		// margin-bottom: 47px
		+r(768)
			// margin-bottom: 20px
	&-wrap
		margin-bottom: 65px
		+r(768)
			margin-bottom: 30px
	&-inner
		width: 100%
		max-width: 714px
		margin-bottom: 70px
		+r(768)
			margin-bottom: 40px
	.form-block
		margin-top: 60px
.accordeon-wrapper
	margin-top: -1px
	border: 1px solid #cccccc
	+tr(all .3s ease)
	&:first-child
		border-top: 2px solid #fff233
	//&_no-check change
		.accordeon-head
			&-content
				padding-left: 20px
		.accordeon-body
			&-content
				padding-left: 0
	&:hover
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2)
		background-color: #ffffff
	&.active
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2)
		background-color: #ffffff
		.accordeon-head 
			&-icon
				span
					transform: rotate(-180deg)
	&.no-accordeon
		&:hover
			box-shadow: none
		& .accordeon-head-content
			cursor: default

.accordeon-checked
	width: 16px
	height: 12px
	color: #000000

.accordeon-head
	display: flex
	align-items: center
	padding: 0 30px
	+tr(all .3s ease)
	+r(450)
		padding: 0 15px
	&-check
		//padding: 35px 20px 35px 0 change
		display: none
		//+r(520) change
			padding: 35px 10px 35px 10px
		input
			display: none
			&:checked + .accordeon-head-custom .accordeon-checked
				width: 15px
		.accordeon-checked
			display: block
			width: 0
			height: 100%
			margin-left: 4px
			overflow: hidden
			transition: width .4s ease-in-out
			svg
				min-width: 15px
		.accordeon-head-custom
			width: 25px
			height: 25px
			border: 1px solid #cccccc
			border-radius: 3px
			background-color: #ffffff
			+tr(all .3s ease)
			position: relative
			&:hover
				background-color: #fafafa
				border-color: #000000
				cursor: pointer
	&-content
		padding: 15px 0
		width: 100%
		display: flex
		align-items: center
		cursor: pointer
		+r(450)
			align-items: flex-start
	&-name
		padding: 10px
		width: 70%
		+r(450)
			width: 60%
	&-info
		padding: 10px
		width: 25%
		+r(450)
			width: 35%
	&-icon
		width: 5%
		+r(450)
			align-self: center
		span
			display: block
			margin-right: 0
			font-size: 0
			margin-left: auto
			width: 100%
			max-width: 18px
			height: 10px
			+tr(all .7s ease)
	
.accordeon-body
	border-top: none
	//padding-left: 75px change
	padding-left: 40px
	padding-right: 30px
	+r(450)
		padding-left: 15px
		padding-right: 15px
	&-content
		border-top: 1px solid #cccccc
		dl
			display: flex
			flex-wrap: wrap
			dt
				width: 70%
				padding: 20px 10px
				border-bottom: 1px solid #e5e5e5
				+r(450)
					width: 65%
				&:nth-last-child(2)
					border: none
			dd
				width: 30%
				padding: 20px 10px
				border-bottom: 1px solid #e5e5e5
				+r(450)
					width: 35%
				&:last-child
					border: none

.accordeon-wrapper_data
	max-width: 714px
	border: 1px solid #cccccc
	padding: 38px 34px 33px 34px
	position: relative
	+tr(all .3s ease)
	+r(520)
		padding: 25px 20px 20px 20px
	&:hover
		cursor: pointer
	&:first-child
		border-top: 1px solid #cccccc
	&:not(:last-child)
		margin-bottom: 70px
	.accordeon-head
		padding: 0
		position: relative
		flex-wrap: wrap
		align-items: flex-start
		justify-content: space-between
		&-title,
		&-text
			width: 80%
			max-width: 475px
			+r(620)
				width: 100%
		&-title
			display: flex
			align-items: center
			margin-top: 0
			margin-bottom: 40px
		&-icon
			margin-left: 13px
			width: 8px
			span
				width: 8px
				height: 4px
	.accordeon-body
		padding: 0
		max-width: 544px
		&-content
			border-top: none
			margin-top: 10px
			dl
				dt
					padding-left: 0
				dd
					font-weight: bold
					color: #000000
					padding-right: 0
	.accordeon-footer
		margin-top: 40px
	.link-view-all
		&:hover
			cursor: pointer
	.accordeon-decor
		display: block
		width: 80px
		height: 90px
		color: #f2db00
		position: absolute
		top: 38px
		right: 34px
		svg
			position: absolute
			bottom: 0
			right: 0
		+r(620)
			top: auto
			bottom: 33px
			right: 34px
		+r(520)
			bottom: 20px
			right: 20px
	.accordeon-parameters-check
		display: block
		width: 17px
		height: 20px
		font-size: 0

.services-config-ordering
	//text-align: right change
	text-align: left
	margin: 40px 0
	&__link
		padding-left: 47px
		padding-right: 47px
		//margin-right: 0 change
		//margin-left: auto

.services-form
	width: 100%
	max-width: 714px


.contacts-page
	&__title
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		padding-bottom: 60px
		border-bottom: 1px solid #cccccc
		margin-bottom: 55px
		h2
			margin-top: 0
			margin-bottom: 0
		+r(620)
			padding-bottom: 40px

.contacts-wrap
	display: flex
	flex-wrap: wrap

.contacts-item
	width: 41%
	margin-bottom: 45px
	padding-top: 55px
	padding-right: 20px
	margin-right: 40px
	border-top: 1px solid #cccccc
	&:first-child,
	&:nth-child(2)
		padding-top: 0
		border-top: none
	&__link
		font-weight: bold
		color: #000000
		font-size: 16px
		margin-bottom: 14px
		+tr(color .1s ease-in-out)
		&_big
			font-size: 20px
			letter-spacing: -0.02
		&-icon
			display: inline-block
			width: 18px
			height: 16px
			margin-left: 10px
		&:hover
			+notouch
				color: #ecdc00
	&__title
		margin-bottom: 23px
	&__subtitle
		margin-top: 30px
		margin-bottom: 15px
	+r(980)
		width: 45%
		margin-bottom: 30px
		padding-top: 40px
		padding-right: 10px
		margin-right: 4%
	+r(620)
		width: 100%
		&:nth-child(2)
			padding-top: 40px
			border-top: 1px solid #cccccc

.map-container
	background-color: #ffffff
	width: 100%
	height: 470px
	display: flex
	justify-content: center
	align-items: center
	padding-bottom: 77px
	border-bottom: 1px solid #cccccc
	margin-top: 45px
	margin-bottom: 100px

.map-elem
	width: 100%
	height: 100%
	background-color: #cccccc

.contacts-form
	width: 100%
	max-width: 714px
