/* modal */
.modal-layout
	position: fixed
	left: 0
	right: 0
	bottom: 0
	top: 0
	width: 100%
	height: 100%
	margin: 0
	background: transparent
	z-index: 200
	opacity: 0
	visibility: hidden
	transition: opacity .5s .1s, visibility .5s .1s, background-color .5s .1s
	contain: paint 
	overflow-y: auto
	+vertical
	contain: paint 
	overflow-y: auto
	&.active
		background: rgba(0,0,0, .3)
		visibility: visible
		opacity: 1
		transition-delay: 0s
		& .modal-container
			transform: translateY(0)
			opacity: 1
			transition-delay: .2s
		& .consultation-modal
			animation-name: show
			animation-duration: 0.3s
			animation-fill-mode: forwards
		& .application-modal
			transform: translateX(0)
			opacity: 1
		
.modal-container
	display: inline-block
	vertical-align: middle 
	+rem(min-width,320px)
	+rem(max-width,741px)
	width: 100%
	background-color: #ffffff
	position: relative
	transform: translateY(5%)
	transition: transform .2s, opacity .2s
	opacity: 0

.modal-container-content
	padding: 10px
	text-align: left

.consultation-modal
	opacity: 0
	animation-name: hide
	animation-duration: 0.2s
	animation-fill-mode: forwards

@keyframes show
	0%
		opacity: 0
		transform: scale3d(1.1, 1.1, 1)
	100%
		opacity: 1 
		transform: scale3d(1, 1, 1)
@keyframes hide
	0%
		opacity: 1 
		transform: scale3d(1, 1, 1)
	100%
		opacity: 0 
		transform: scale3d(0.9, 0.9, 1)

.application-modal
	background-color: #ffffff
	position: absolute
	top: 0
	right: 0
	transform: translateX(20%)
	opacity: 0
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9)
	animation-name: none


.contents-modal
	max-width: 690px
	& .pop-close
		color: #ffffff
		position: absolute
		right: -40px
		top: -40px
	&__next,
	&__prev,
		color: #ffffff
		width: 35px
		height: 65px
		position: absolute
		top: 50%
	&__next
		right: -60px
		transform: translateY(-50%)
	&__prev
		left: -60px
		transform: translateY(-50%) rotate(180deg)
	& .modal-container-content
		padding: 40px
		padding-top: 0

.big-image-slider
	 margin-bottom: 50px
	 img
	 	display: block
	 	margin: 0 auto

.contents-slider
	&-slide
		//&__info
		&__period
			margin-bottom: 20px
		&__title
			font-size: 18px
			line-height: 1
			color: #000000
			margin-bottom: 35px
		//&__description
	
.gallery-album-modal
	& .modal-container-content
		display: flex
	& .contents-count
		width: 10%
		line-height: 1.5
	& .contents-slider
		width: 90%

.sertificates-modal
	padding-bottom: 50px