extends _layout
include includes/_mixins.pug


block title
	title Документация
block config
	- var main = true
block content
	.header-wrapper
		+contacts-header
		.wrapper-bg(style="background-image:url('img/promo.jpg')")
		.box
			.header-inner.header-inner_inner-page.header-inner_animate
				.header-inner__title
					h1.h1 Документация
	.box
		+breadcrumbs(['Главная', 'Сертификаты'])
	.box
		.content-wrap
			aside.side-bar.js-stick-parent
				.side-bar-nav.js-stick
					a(href="#").side-bar-nav__mob-btn.show-sidebar-menu
						span.link-value ...
						span.link-i-arrow
							+icon('arrow_down')
					+link-navigation(['Сертификаты', 'Команда', 'Документация', 'Инфраструктура', 'Новости', 'Галерея'])
			.content-inner
				.data-sertificate
					+sertificate('09.06.2017', 'Uptime Institute Tier III Certified', 'sertificate-2-min.jpg', 0)
					+sertificate('17.08.2017', 'Tier III operational SUSTAINABILITY - GOLD', 'sertificate-1-min.jpg', 1)
					+sertificate('23.09.2017', 'Constructed facility', 'sertificate-2-min.jpg', 2)
					+sertificate('17.08.2017', 'Tier III operational SUSTAINABILITY - GOLD', 'sertificate-1-min.jpg', 3)
					+sertificate('09.06.2017', 'Uptime Institute Tier III Certified', 'sertificate-2-min.jpg', 4)