extends _layout
include includes/_mixins.pug


block title
	title Галерея 
block config
	- var main = true
block content
	.header-wrapper
		+contacts-header
		.wrapper-bg(style="background-image:url('img/promo.jpg')")
		.box
			.header-inner.header-inner_inner-page
				.header-inner__title.fade-down
					h1.h1 Инфраструктура
	.box
		+breadcrumbs(['Главная', 'Галерея'])
	.box
		.content-wrap
			aside.side-bar.js-stick-parent
				.side-bar-nav.js-stick
					a(href="#").side-bar-nav__mob-btn.show-sidebar-menu
						span.link-value ...
						span.link-i-arrow
							+icon('arrow_down')
					+link-navigation(['Команда', 'Документация', 'Сертификаты', 'Инфраструктура', 'Новости', 'Галерея'])
			.content-inner
				.gallery
					//- gallery-block(img, title, count)
					+gallery-block('gallery-1.jpg', 'Новый сервер', '18')
					+gallery-block('gallery-2.jpg', 'Открытие отделения', '27')
					+gallery-block('gallery-3.jpg', 'Концерт “Velcom”', '12')
					+gallery-block('gallery-4.jpg', 'Лучшие 2017', '35')

