include includes/_mixins.pug

.wrap
	.box
		.modal-container.contents-modal.gallery-album-modal
			button(type="button").pop-close.closePopup
					+icon('close')
			.big-image-slider
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-1.jpg", alt="sertificate")
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-2.jpg", alt="sertificate")
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-3.jpg", alt="sertificate")
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-4.jpg", alt="sertificate")
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-5.jpg", alt="sertificate")
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-6.jpg", alt="sertificate")
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-7.jpg", alt="sertificate")
				.big-image-slide
					.big-image-slide-inner
						img(src="img/gallery-photo-8.jpg", alt="sertificate")
			.modal-container-content
				.contents-count
					.slider-counter
						.slider-curr . . . 
						.slider-divider /
						.slider-total . . .
				.contents-slider
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
					.contents-slider-slide
						.contents-slider-slide__info
							.contents-slider-slide__description.text-primary Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
			.contents-modal__nav
				button(type="button",class="slick-prev").contents-modal__prev
					+icon('arrow-light')
				button(type="button", class="slick-next").contents-modal__next
					+icon('arrow-light')