extends _layout
include includes/_mixins.pug


block title
	title Главная
block config
	- var main = true
block content
	.header-wrapper.header-wrapper_full-page
		+contacts-header
		.wrapper-bg(style="background-image:url('img/video.jpg')")
			.video-container
				video.fillWidth(autoplay='', loop='',data-src='img/video.mp4', type='video/mp4')
		.box
			.header-inner
				.header-inner__title.header-inner__title_offset
					h1.h1 Крупнейший в Беларуси сертифицированный дата-центр
					a(href="#").link-button Посмотреть услуги
				.promo-reclame
					.promo-reclame__item
						.promo-reclame__body
							.promo-reclame__icon
								+icon('general-sla')
							p.text-primary.promo-reclame__text Гарантированно высокие параметры SLA
					.promo-reclame__item
						.promo-reclame__body
							.promo-reclame__icon
								+icon('general-datacenter')
							p.text-primary.promo-reclame__text Дата-центр класса Tier III Uptime institute
					.promo-reclame__item
						.promo-reclame__body
							.promo-reclame__icon
								+icon('general-alltime')
							p.text-primary.promo-reclame__text Беспрерывная работа и соединение 24/7
					.promo-reclame__item
						.promo-reclame__body
							.promo-reclame__icon
								+icon('general-speedtest')
							p.text-primary.promo-reclame__text Уровень доступности сервисов 99,982%
	.basic-services
		.box
			h2.basic-services-title.h2 Основные услуги
			.basic-services-wrapper
				+service-card('Co-location', 'Предоставление в аренду серверных шкафов либо площадей в дата-центре для размещения оборудования Клиентов', 'services-colocation')
				+service-card('Выделенные сервера', 'Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса.', 'services-servers')
				+service-card('IaaS', 'Позволяет клиенту воспользоваться полноценным ИТ-сервисом, получая необходимый инфраструктурный комплекс решений в рамках виртуальной инфраструктуры velcom', 'services-iaas')
			.server-graph(style="background-image:url('img/graph.gif')")
				p.server-graph__title 99,982%
				p.server-graph__desc.text-primary Уровень доступности сервисов
	.about-center
		.box
			.about-center__inner
				.about-center__title
					h2.h2 Дата-центр velcom
					p.text-primary Дата-центр — одно из новых направлений бизнеса известного телекоммуникационного бренда
				.about-center__info
					p.about-center__desc.text-increased Современные требования к ИТ-инфраструктуре предполагают максимальную доступность данных для операционной деятельности любого бизнеса практически в любой точке мира, что обусловлено виртуализацией ИТ-решений, которая многократно&nbsp;
						+v-style-text('повышает скорость, масштаб и экономическую')
						+v-style-text('выгоду для предприятий.')
				.about-center__characteristic
					.datacenter-characteristics
						+datacenter-characteristics('6 620', 'кв.м. площадь ЦОД')
						+datacenter-characteristics('800', 'Серверных стоек')
						+datacenter-characteristics('4', 'Машинных зала')
					+link-more('Больше о дата-центре', 'about-center__link')
				.about-center__build
					img(src="img/data-canter.png", alt="clouds")
		.about-center__clouds
			img(src="img/clouds.png", alt="clouds")
	.advantages
		.box
			h2.h2.advantages__title Размещение ИТ-инфраструктуры в ЦОД существенно снижает расходы на эксплуатацию и управление:
			.advantages__slider
				.advantages__item
					.advantages__check 
						+icon('checked')
					p.text-primary отсутствует необходимость поиска помещения для организации собственного ЦОД
				.advantages__item
					.advantages__check
						+icon('checked')
					p.text-primary сокращение операционных затрат на организацию и эксплуатацию серверных помещений, каналов связи
				.advantages__item
					.advantages__check
						+icon('checked')
					p.text-primary снижение операционных затрат за счет сокращения обслуживающего персонала
				.advantages__item
					.advantages__check
						+icon('checked')
					p.text-primary возможность быстро расширять и сокращать серверные мощности
				.advantages__item
					.advantages__check
						+icon('checked')
					p.text-primary отсутствие капитальных затрат на системы бесперебойного электроснабжения и климат-контроля
				.advantages__item
					.advantages__check
						+icon('checked')
					p.text-primary возможность минимизировать или сократить полностью затраты на приобретение оборудования
			.advantages__btn-wrap
				a(href="#").link-consultation Получить консультацию
		.advantages-decor
			img(src="img/advantages-man-1.png", alt="advantages-decor")
	.main-news
		.box
			.main-news__title
				h2.h2 Новости дата-центра
				+link-more('Все новости', 'main-news__more-news')
			.main-news__wrap
				+second-news('news-1.jpg', '«Классика у Ратуши с velcom» подарила минчанам фотовыставку с лучшими моментами фестиваля', '25 августа 2017')
				+second-news('news-2.jpg', '#velcombegom: минские бегуны впервые проведут 24-часовую эстафету-марафон', '23 августа 2017')