ul(style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);")
	li
		a(target="_blank" href="0-0index.html") Главная
	li
		a(target="_blank" href="1-0data-center.html") О дата-цетре
	li
		a(target="_blank" href="1-1comandos.html") О Команде
	li
		a(target="_blank" href="1-2documents.html") Документация
	li
		a(target="_blank" href="1-3sertificates.html") Сертификаты
	li
		a(target="_blank" href="1-5news.html") Новости
	li
		a(target="_blank" href="1-5news-inner.html") Новость
	li
		a(target="_blank" href="1-6gallery.html") Фотоальбомы
	li
		a(target="_blank" href="1-6gallery-inner.html") Галерея
	li
		a(target="_blank" href="3-0service.html") Услуги
	li
		a(target="_blank" href="3-2service-inner.html") Услуга
	li
		a(target="_blank" href="4-0partners.html") Партнёры
	li
		a(target="_blank" href="5-0project.html") Проекты
	li
		a(target="_blank" href="5-1project-inner.html") Проект
	li
		a(target="_blank" href="6-0contacts.html") Контакты
	li
		a(target="_blank" href="search-result.html") Результаты поиска
	li
		a(target="_blank" href="site-map.html") Карта сайта
	li
		a(target="_blank" href="etalon.html") Эталон
	li
		a(target="_blank" href="404.html") 404