.wrap
	.modal-container
		i.small-link.pop-close.closePopup
		.sertificate-slider
			.sertificate-slide
				.sertificate-slide__image
					img(src="img/sertificate-2-big.jpg", alt="sertificate")
				.sertificate-slide__info
					.sertificate-slide__period 09.06.2017, бессрочно
					.sertificate-slide__title Uptime Institute Tier III Certified: Constructed Facility
					.sertificate-slide__description Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
			.sertificate-slide
				.sertificate-slide__image
					img(src="img/sertificate-2-big.jpg", alt="sertificate")
				.sertificate-slide__info
					.sertificate-slide__period c 09.06.2017 по 10.10.2018
					.sertificate-slide__title Tier III operational SUSTAINABILITY - GOLD
					.sertificate-slide__description Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
			.sertificate-slide
				.sertificate-slide__image
					img(src="img/sertificate-2-big.jpg", alt="sertificate")
				.sertificate-slide__info
					.sertificate-slide__period 09.06.2017, бессрочно
					.sertificate-slide__title Uptime Institute Tier III Certified: Constructed Facility
					.sertificate-slide__description Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
			.sertificate-slide
				.sertificate-slide__image
					img(src="img/sertificate-2-big.jpg", alt="sertificate")
				.sertificate-slide__info
					.sertificate-slide__period c 09.06.2017 по 10.10.2018
					.sertificate-slide__title Tier III operational SUSTAINABILITY - GOLD
					.sertificate-slide__description Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса
			.sertificate-slide
				.sertificate-slide__image
					img(src="img/sertificate-2-big.jpg", alt="sertificate")
				.sertificate-slide__info
					.sertificate-slide__period 09.06.2017, бессрочно
					.sertificate-slide__title Uptime Institute Tier III Certified: Constructed Facility
					.sertificate-slide__description Аренда каналов до точек присутствия на крупнейших телекоммуникационных узлах а также каналы «точка-точка» до любого адреса